<div class="edit-post-container">
  <form class="edit-post-form post">
    <h2 class="post-title">Edit Post</h2>
    <input type="hidden" id="post-id" value="{{post.id}}">
    <div>
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="title" value="{{post.title}}" required>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <textarea id="post-content" name="content" required>{{post.content}}</textarea>
    </div>
    <button type="submit" class="nav-button">Update Post</button>
  </form>
</div>

<script src="/js/edit-post.js"></script>