{{> header}}

<main>
    <section>
        {{#each posts}}
            <article>
                <h2>{{title}}</h2>
                <p>{{createdAt}}</p>
                <p>{{content}}</p>
                <a href="/post/{{id}}">Read More</a>
            </article>
        {{/each}}
    </section>
</main>

{{> footer}}
