<main>
    <section>
        {{#each posts}}
            <article class="post">
                <h2 class="post-title">{{title}}</h2>
                <div class="post-meta">
                    <span>Posted on {{format_date createdAt}}</span>
                </div>
                <div class="post-content">
                    <p>{{content}}</p>
                </div>
                <a href="/post/{{id}}" class="nav-button">Read More</a>
            </article>
        {{/each}}
    </section>
</main>

{{> footer}}