{{> header}}

<main>
  <section>
    <h2>Sign Up</h2>
    <form id="signup-form">
      <input type="text" id="username-signup" name="username" placeholder="Username" required>
      <input type="password" id="password-signup" name="password" placeholder="Password" required>
      <button type="submit">Sign Up</button>
    </form>

    <!-- Error message element -->
    <p id="signup-error-message" style="display:none;"></p>

    <a href="/login">Already have an account? Login here.</a>
  </section>
</main>

{{> footer}}
